.banner.row.py-3.mb-2
  %h3.col-md-4.display-1.align-self-start.text-light.text-center
    Object
  %h1.col-md-4.display-1.align-self-center.text-light.text-center
    to be
  %h3.col-md-4.display-1.align-self-end.text-light.text-center
    Wright
.container
  = react_component("Presentation")
