.banner.row.py-3.mb-2
  %i.col-md-4.align-self-start.text-light.text-center
    Become the best lawyer in court
  %h1.col-md-4.display-1.align-self-center.text-light.text-center
    Captain Wright
  %i.col-md-4.align-self-end.text-light.text-center
    Thow objections at you opponent like a boss
.container
  = link_to "Play", "/court/lawyers", class: "btn btn-success w-100"
  = react_component("Presentation")
